@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$font-stack:"Inter", serif !important;



/*color*/
$bg-grey: #F8F8F8;
$primary-grey: #212121;
$secondary-grey: #E1E1E1;
$tertiary-grey:#9e9e9e;
$white: #fff;
$primary-green: #6AF383;
$secondary-green: #4AF0A1;
$tertiary-green: #AFF04A;

$blend-color-1:#3bf0cc;
$blend-color-2:#00c2ff;